<!DOCTYPE html>
<!--
Jacob Faulk
j_faulk@u.pacific.edu
Created on 12/04/2018
-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DivideTweet!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="vue.js"></script>
    <script src="main.js"></script>
</head>

<body>

    <h1 id="title">DivideTweet!</h1>
    <div id="descriptionDiv">
        <h2 id="description">Enter your long tweet below, and it will automatically be divided into 280-character
            slices for you to simply copy, paste and post!</h2>
    </div>

    <div id="input">
        <textarea id="inputbox" cols="50" rows="10" v-model="userTweet" placeholder="Enter your tweet here!"></textarea>
    </div>

    <div style="width: 100%; text-align: center">
        <div id="checkboxes">
            <input type="radio" name="ending" id="parethesesID" value="parentheses" checked="checked" v-model="endingPick"><label
                for="parethesesID">(x/y)</label>
            <input type="radio" name="ending" id="slashID" value="slash" v-model="endingPick"><label for="slashID">x/y</label>
            <input type="radio" name="ending" id="oneValueID" value="oneValue" v-model="endingPick"><label for="oneValueID">/x</label>
        </div>
    </div>

    <div id="results">
        <ul>
            <li v-for="tweet in dividedTweets">
                {{ tweet }}
            </li>
        </ul>
    </div>

</body>

</html>